@{
    ViewData["Title"] = "Products";
}


@section Scripts{
    <script src="/js/jquery.store.js"></script>
    <script src="/js/filter.js"></script>
}  


<div id="nav-details">
    <div id="nav-details-content"></div>
 </div>

        <section class="new-arrivals">
            <div id="site">
                <div class="container">
                    <div class="title-box">
                        <h2>New Arrivals</h2>
                   
                    </div>
                    
                    <div class="row">
                       
                        
                        <section class="col-md-3" >
                            <div class="product-top" >
                                <img src="/images/g5_barbie1.jpg">
                                
                                <div class="hoverImage center">
                                    <img src="/images/g5_barbie2.jpg" >
                                   </div>
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                    </button>

                                </div>
                            </div>

                            <div class="product-bottom text-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <h3 style="font-family:'Poppins'; font-size: 20px;">Barbie Reveal</h3>
                                <div class="product-description" data-name="Barbie Reveal" data-price="549" data-pic="/images/g5_barbie1.jpg">

                                    <p class="product-price" style="font-size: 20px">R549</p>
                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                        <div>
                                            <label for="qty-2">Quantity</label>
                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                        </div>
                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                    </form>

                                </div>
                            </div>
                        </section>

                        <section class="col-md-3">
                            <div class="product-top">
                                <img src="/images/b5_yoda1.jpg">
                                <div class="hoverImage center">
                                    <img src="/images/b5_yoda2.jpg" >
                                   </div>
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                    </button>

                                </div>
                            </div>

                            <div class="product-bottom text-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <h3 style="font-family:'Poppins'; font-size: 20px;">Baby Yoda</h3>
                                <div class="product-description" data-name="Baby Yoda" data-price="499" data-pic="/images/b5_yoda1.jpg">

                                    <p class="product-price" style="font-size: 20px">R499</p>
                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                        <div>
                                            <label for="qty-2">Quantity</label>
                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                        </div>
                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                    </form>

                                </div>
                            </div>
                        </section>

                        <section class="col-md-3">
                            <div class="product-top">
                                <img src="/images/g5_lego1.jpg">
                                <div class="hoverImage center">
                                    <img src="/images/g5_lego2.jpg" >
                                   </div>
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                    </button>

                                </div>
                            </div>

                            <div class="product-bottom text-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <h3 style="font-family:'Poppins'; font-size: 20px;">Lego Disney</h3>
                                <div class="product-description" data-name="Lego Disney" data-price="749" data-pic="/images/g5_lego1.jpg">

                                    <p class="product-price" style="font-size: 20px">R749</p>
                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                        <div>
                                            <label for="qty-2">Quantity</label>
                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                        </div>
                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                    </form>

                                </div>
                            </div>
                        </section>

                        <section class="col-md-3">
                            <div class="product-top">
                                <img src="/images/b3_coco1.jpg">
                                <div class="hoverImage center">
                                    <img src="/images/b3_coco2.jpg">
                                </div>
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                    </button>

                                </div>
                            </div>

                            <div class="product-bottom text-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <h3 style="font-family:'Poppins'; font-size: 20px;">Cocomelon Baby</h3>
                                <div class="product-description" data-name="Cocomelon Baby" data-price="1199" data-pic="/images/b3_coco1.jpg">

                                    <p class="product-price" style="font-size: 20px">R1199</p>
                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                        <div>
                                            <label for="qty-2">Quantity</label>
                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                        </div>
                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                    </form>

                                </div>
                            </div>
                        </section>
                        
                    </div>
                
           

        
                    <div class="title-box">
                        <h2>Our Range</h2>
                   
                    </div>
                    <ul class="filter-menu">
                        <li data-target="Reset">ALL</li>
                        <li data-target="3year" id="3year-filter">3 - 4 Years</li>
                        <li data-target="5year" id="5year-filter">5 - 6 Years</li>
                        <li data-target="7year" id="7year-filter">7 - 8 Years</li>
                        <li data-target="boy" id="boy-filter">Boys</li>
                        <li data-target="girl" id="girl-filter">Girls</li>
                    </ul>


                    <div class="filteritems">
                            <div class="row">
                                <div class="col-md-3" data-item="7year" data-item2="girl">
                                  <div class="product-top">
                                
                                    <img src="/images/g7_match1.jpg">
                                    <div class="hoverImage center">
                                        <img src="/images/g7_match2.jpg" >
                                    </div>
                                    <div class="overlay-right">
                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                            <i class="fa fa-eye"></i>
                                        </button>

                                        <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </button>

                                        
                                    </div>
                                

                                </div>

                                <div class="product-bottom text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <h3 style="font-family:'Poppins'; font-size: 20px;">LOL Matching Game</h3>
                                    <div class="product-description" data-name="LOL Matching Game" data-price="199" data-pic="/images/g7_match1.jpg">

                                        <p class="product-price" style="font-size: 20px">R199</p>
                                        <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                            <div>
                                                <label for="qty-2">Quantity</label>
                                                <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                            </div>
                                            <p><input type="submit" value="Add to cart" class="btn" /></p>
                                        </form>

                                    </div>
                                </div>
                                </div>

                                <div class="col-md-3" data-item="7year" data-item2="boy">
                                    <div class="product-top">
                                        <img src="/images/b7_truck1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/b7_truck2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                            
                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Remote Truck</h3>
                                        <div class="product-description" data-name="Remote Truck" data-price="899" data-pic="/images/b7_truck1.jpg">

                                            <p class="product-price" style="font-size:20px;">R899</p>
                                            <form class="add-to-cart" action="./cart.html" method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" data-item="5year" data-item2="girl">
                                    <div class="product-top">
                                        <img src="/images/g5_barbie1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/g5_barbie2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Barbie Reveal</h3>

                                        <div class="product-description" data-name="Barbie Reveal" data-price="549" data-pic="/images/g5_barbie1.jpg">

                                            <p class="product-price" style="font-size: 20px;">R549</p>
                                            <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" data-item="3year" data-item2="boy">
                                    <div class="product-top">
                                        <img src="/images/b3_coco1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/b3_coco2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                           
                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Cocomelon Baby</h3>

                                        <div class="product-description" data-name="Cocomelon Baby" data-price="1199" data-pic="/images/b3_coco1.jpg">

                                            <p class="product-price" style="font-size: 20px;">R1199</p>
                                            <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            <!--/div-->
                            

                            <!--div class="row"-->
                                <div class="col-md-3" data-item="3year" data-item2="girl">
                                    <div class="product-top">
                                        <img src="/images/g3_bubble1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/g3_bubble2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Mermaid Bubbles</h3>

                                        <div class="product-description" data-name="Mermaid Bubbles" data-price="149" data-pic="/images/g3_bubble1.jpg">

                                            <p class="product-price" style="font-size: 20px;">R149</p>
                                            <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" data-item="5year" data-item2="boy">
                                    <div class="product-top">
                                        <img src="/images/b5_bike1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/b5_bike2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                            
                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Motorbike</h3>

                                        <div class="product-description" data-name="Motorbike" data-price="1449" data-pic="/images/b5_bike1.jpg">

                                            <p class="product-price" style="font-size: 20px;">R1449</p>
                                            <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" data-item="5year" data-item2="girl">
                                    <div class="product-top">
                                        <img src="/images/g5_lego1.jpg">
                                        <div class="hoverImage center">
                                            <img src="/images/g5_lego2.jpg" >
                                        </div>
                                        <div class="overlay-right">
                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                <i class="fa fa-eye"></i>
                                            </button>

                                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                            </button>

                                            
                                        </div>
                                    </div>

                                    <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3 style="font-family:'Poppins'; font-size: 20px;">Lego Disney</h3>

                                        <div class="product-description" data-name="Lego Disney" data-price="749" data-pic="/images/g5_lego1.jpg">

                                            <p class="product-price" style="font-size: 20px;">R749</p>
                                            <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                <div>
                                                    <label for="qty-2">Quantity</label>
                                                    <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                </div>
                                                <p><input type="submit" value="Add to cart" class="btn" /></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" data-item="7year" data-item2="boy">
                                        <div class="product-top">
                                           <img src="/images/b7_deadpool1.jpg">
                                            <div class="hoverImage center">
                                                <img src="/images/b7_deadpool2.jpg" >
                                            </div>
                                            <div class="overlay-right">
                                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                                <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>

                                                
                                            </div>
                                        </div>

                              
                                        <div class="product-bottom text-center">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <h3 style="font-family:'Poppins'; font-size: 20px;">Deadpool</h3>

                                            <div class="product-description" data-name="Deadpool" data-price="699" data-pic="/images/b7_deadpool1.jpg">

                                                <p class="product-price" style="font-size: 20px;">R699</p>
                                                <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                    <div>
                                                        <label for="qty-2">Quantity</label>
                                                        <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                    </div>
                                                    <p><input type="submit" value="Add to cart" class="btn" /></p>
                                                </form>

                                            </div>
                                        </div>
                                 </div>
                            <!--/div-->

                            <!--div class="row"-->
                                        <div class="col-md-3" data-item="3year" data-item2="boy">
                                            <div class="product-top">
                                                <img src="/images/b3_car1.jpg">
                                                <div class="hoverImage center">
                                                    <img src="/images/b3_car2.jpg" style="margin-top:30px">
                                                </div>
                                                <div class="overlay-right">
                                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                        <i class="fa fa-eye"></i>
                                                    </button>

                                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>

                                                
                                                </div>
                                            </div>

                                            <div class="product-bottom text-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <h3 style="font-family:'Poppins'; font-size: 20px;">Toy Car</h3>

                                                <div class="product-description" data-name="Toy Car" data-price="299" data-pic="/images/b3_car1.jpg">

                                                    <p class="product-price" style="font-size: 20px;">R299</p>
                                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                        <div>
                                                            <label for="qty-2">Quantity</label>
                                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                        </div>
                                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" data-item="3year" data-item2="girl">
                                            <div class="product-top">
                                                <img src="/images/g3_baby1.jpg">
                                                <div class="hoverImage center">
                                                    <img src="/images/g3_baby2.jpg" >
                                                </div>
                                                <div class="overlay-right">
                                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                        <i class="fa fa-eye"></i>
                                                    </button>

                                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>
                        
                                                </div>
                                            </div>

                                            <div class="product-bottom text-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <h3 style="font-family:'Poppins'; font-size: 20px;">Baby Alive</h3>

                                                <div class="product-description" data-name="Baby Alive" data-price="699" data-pic="/images/g3_baby1.jpg">

                                                    <p class="product-price" style="font-size: 20px;">R699</p>
                                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                        <div>
                                                            <label for="qty-2">Quantity</label>
                                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                        </div>
                                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" data-item="5year" data-item2="boy">
                                            <div class="product-top">
                                                <img src="/images/b5_yoda1.jpg">
                                                <div class="hoverImage center">
                                                    <img src="/images/b5_yoda2.jpg" >
                                                </div>
                                                <div class="overlay-right">
                                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                        <i class="fa fa-eye"></i>
                                                    </button>

                                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>

                                                    
                                                </div>
                                            </div>

                                            <div class="product-bottom text-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <h3 style="font-family:'Poppins'; font-size: 20px;">Baby Yoda</h3>

                                                <div class="product-description" data-name="Baby Yoda" data-price="499" data-pic="/images/b5_yoda1.jpg">

                                                    <p class="product-price" style="font-size: 20px;">R499</p>
                                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                        <div>
                                                            <label for="qty-2">Quantity</label>
                                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                        </div>
                                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" data-item="7year" data-item2="girl">
                                            <div class="product-top">
                                                <img src="/images/g7_beauty1.jpg">
                                                <div class="hoverImage center">
                                                    <img src="/images/g7_beauty2.jpg" >
                                                </div>
                                                <div class="overlay-right">
                                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                        <i class="fa fa-eye"></i>
                                                    </button>

                                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>

                                                   
                                                </div>
                                            </div>

                                            <div class="product-bottom text-center">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <h3 style="font-family:'Poppins'; font-size: 20px;">Make-Up Set</h3>

                                                <div class="product-description" data-name="Make-Up Set" data-price="249" data-pic="/images/g7_beauty1.jpg">

                                                    <p class="product-price" style="font-size: 20px;">R249</p>
                                                    <form class="add-to-cart" action='@Url.Action("Cart", "Home")' method="get">
                                                        <div>
                                                            <label for="qty-2">Quantity</label>
                                                            <input type="number" name="qty-2" id="qty-2" class="qty" min="1" max="20" value="1" style="font-family:monospace;"/>
                                                        </div>
                                                        <p><input type="submit" value="Add to cart" class="btn" /></p>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                            
                                    </div>
                        </div>
        </section>      
                  
            
        

        

    